/*========================================*/
/*----------- [_Google_Fonts] ------------*/
/*========================================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

/*========================================*/
/*---------[-Colors & font-size]----------*/
/*========================================*/
:root {
    --x-small: 10px;
    --small: 14px;
    --medium: 16px;
    --large: 45px;
    --white: #fff;
    --platinum: #e8ebe4;
    --gray: #bec1bb;
    --blue-bell: #a491d2;
    --soap: #cdc3e6;
    --pale-lavender: #d4dcff;
    --dark-jungle: #1b1f21;
    --outer-space: #444749;
    --old-silver: #828485;
}

/*========================================*/
/*-------------- [_Utility] -----===------*/
/*========================================*/
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/*========================================*/
/*---------------- [_Class] -----===------*/
/*========================================*/
.main-container {
    display: flex;
}

.contacts-section {
    min-height: 100vh;
    width: 20%;
    border-right: 2px solid var(--gray);
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    height: 5%;
    border: 1px solid var(--gray);
    color: var(--gray);
}
.navbar .navbar-left {
    display: inline-flex;
}
.navbar .navbar-left .photo img {
    border-radius: 50%;
    width: 40px;
    margin-right: 5px;
}
.navbar .navbar-left .user-details {
    margin: 5px;
}
.navbar .navbar-left .user-details .user-name {
    font-family: 'Roboto', sans-serif;
    font-size: var(--medium);
    color: var(--dark-jungle);
    text-align: center;
    display: block;
}
.navbar .navbar-left .user-details .user-status {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--small);
}
.navbar .navbar-right i {
    margin: 2.5px;
    font-size: var(--medium);
}

.new-chat-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 15%;
    border: 1px solid var(--gray);
    color: var(--gray);
}
.new-chat-section .primary-button {
    width: 75%;
    height: 50%;
    background-color: var(--blue-bell);
    border: 1px var(--soap);
    border-radius: 5px;
}
.new-chat-section .primary-button a {
    text-decoration: none;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-size: var(--medium);
}

.main-section {
    min-height: 100vh;
    width: 80%;
    background-color: var(--platinum);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-img img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.main-content {
    width: 50%;
}
.main-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--large);
    text-align: center;
    margin: 5px 0px;
}
.main-content p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 5px;
    font-size: var(--medium);
}
