/*========================================*/
/*----------- [_Google_Fonts] ------------*/
/*========================================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

/*========================================*/
/*---------[-Colors & font-size]----------*/
/*========================================*/
:root {
    --x-small: 10px;
    --small: 14px;
    --medium: 16px;
    --large: 45px;
    --white: #fff;
    --platinum: #e8ebe4;
    --gray: #bec1bb;
    --blue-bell: #a491d2;
    --soap: #cdc3e6;
    --pale-lavender: #d4dcff;
    --dark-jungle: #1b1f21;
    --outer-space: #444749;
    --old-silver: #828485;
}

/*========================================*/
/*-------------- [_Utility] -----===------*/
/*========================================*/
body {
    margin: 0;
    padding: 0;
}



/*========================================*/
/*---------------- [_Class] -----===------*/
/*========================================*/
.main-container {
    display: flex;
}

.contacts-section {
    min-height: 100vh;
    width: 20%;
    border-right: 2px solid var(--gray)
}

.main-section {
    min-height: 100vh;
    width: 80%;
    background-color: var(--platinum);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-img img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    
}

.main-content {
    width: 50%;
}
.main-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--large);
    text-align: center;
    margin: 5px 0px;
}
.main-content p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 5px;
}